<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 좀 써도 될까?(포그라운드에서 실행 중일 때만 위치 정보에 엑세스 ios11 이상)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>위치 좀 써도 될까?(백그라운드에서 실행되는 동안 위치 정보에 엑세스 ios11  이상)</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>블루투스를 사용하시겠습니까?</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
